{{!-- Info reminder --}}
<div id="info_reminder">
  Press <div>/</div> for hints. <br />
  <span id="info_reminder_caller">You can also click here!</span>
</div>

<div id="info">
  <b>HINT: </b>You can use the <div>J</div> and <div>K</div> keys to go through the navigation links.<b>
</div>