<nav id="docs_nav">
  <ul id="docs_nav_list">
    <div class="docs_nav_link_group" style="margin-top: 0 !important;">
      <li><a class="docs_nav_link" href="/">Go Back</a></li>
    </div>
    <div class="docs_nav_link_group">
      <li><a class="docs_nav_link" href="#">Home</a></li>
    </div>
  </ul>
</nav>