// Styles for the Markdown generated markup
h1,
h3,
h5 {
  margin: 25px 0;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h5 {
  font-size: 28px;
}

p {
  font-size: 20px;
  & > a {
    color: $darkBlue;
    text-decoration: none;
    border-bottom: 1px solid $darkBlue;
  }
}

hr {
  margin: 50px 0;
}

pre,
code {
  background-color: $black;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

li > code,
p > code {
  border-radius: 5px;
  padding: 0.2em 0.5em;
}

pre {
  border-radius: 7px;
  padding: 1em 1.5em;
}

ol > li > a {
  color: $darkBlue;
  text-decoration: none;
  border-bottom: 1px solid $darkBlue;
}

p > code,
li > code {
  font-size: 16px;
}

ol > li,
ul > li {
  margin-bottom: 10px;
  font-size: 18px;
}
