@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

$black: #333;
$blue: rgb(80, 200, 255);
$darkBlue: darken($blue, 20%);
$gray: rgb(151, 151, 151);
$transition: all ease-in-out 0.2s;
$fonts: "Nunito", Arial, Helvetica, sans-serif;
